/* nav y main */
p {
  font-size: 1.2rem;
}
.logo {
  width: 100px;
}
.nav-item {
  padding-left: 2rem;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
.nav-item a:hover {
  color: white;
}

nav {
  background-color: #ab2121;
}

.navbar-edit {
  display: flex;
  justify-content: end;
}

.navbar-toggler-icon {
  color: black !important;
}

.navbar-toggler:focus {  
  box-shadow: none !important;
}

#header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url(../assets/img/kidsfootball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.main-text {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  width: 70%;
  padding: 10px;
  position: absolute;
  bottom: 2rem;
}

/* sobre nosotros */
.sobre-nosotros-fila {
  min-height: 45vh;
}

.color-background {
  background-color: #fffad6;
}

.sobre-nosotros-fila h2 {
  border-bottom: 1px solid rgba(159, 159, 159, 0.499);
  padding-bottom: 1rem;
}

.sobre-nosotros-img {
  width: 80%;
  border-radius: 3%;
}

/* proyección a futuro */
#proyeccion-futuro {
  min-height: 85vh;
}

.scouts-img {
  width: 85%;
}

.text-border {
  border-bottom: 1px solid rgba(159, 159, 159, 0.499);
  padding-bottom: 2rem;
}

/* áreas de trabajo */
#areas-trabajo {
  min-height: 45vh;
}

.text-border {
  border-bottom: 1px solid rgba(159, 159, 159, 0.499);
  padding-bottom: 2rem;
}

/* donaciones */
#donation {
  min-height: 45vh;
}

/* contacto */
.contact {
  min-height: 45vh;
  background-color: #eae9e7;
}

.icon-circle {
  width: 2.2rem;
}

.contact-title {
  border-bottom: 1px solid rgba(159, 159, 159, 0.499);
}
.btn-idearse {
  background-color: #309c44 !important;
  color: white;
  border: none;
  width: 400px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 45px;
}
.btn-idearse:hover {
  background-color: #7f8e62 !important;
}

#entities {
  min-height: 45vh;
}

/* footer */
#footer {
  background: linear-gradient(90deg, #760101, #AB2121 25%, #760101);
  color: white;
  letter-spacing: 3px;
}

#footer a .icon {
  width: 1.8rem;
}

.links a {
  text-decoration: none;
  color: black;
}


/* MEDIA QUERIES */

@media (max-width: 1199px) {
  .main-text {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .main-text {
    font-size: 2.8rem;
  }
  .sobre-nosotros-fila div {
    justify-content: center !important;
  }
  #proyeccion-futuro div {
    justify-content: center !important;
    padding-bottom: 1.5rem;
  }
  .scouts {
    display: none;
  }
  #donation img {
    width: 50%;
  }
  #donation h5 {
    font-size: 1.1rem;
  }
  .btn-idearse {
    width: 300px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 45px;
  }
  .navbar-edit {
    display: block;
  }
  .navbar-edit li {
    padding-left: 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
